.main {
    height: 100dvh;
    width: 100dvw;
    overflow-x: hidden;
}

.content {
    background-color: #272727;
    display: grid;
    grid-template-areas:
      "navbar navbar navbar"
      "aside content content"
      "footer footer footer";
      height: 100%;
      width: 100%;
}

.navbar {
    background-color: #000123;
    grid-area: navbar;
    position: fixed;
    width: 100%;
    height: 12dvh;
    z-index: 1000;
}

.aside {
    grid-area: aside;
    background-color: #000123;
    height: 85dvh;
}

.footer {
    grid-area: footer;
    background-color: #000123;
    height: 12dvh;
    align-self: flex-end;
}

